.sticky-container a {
    font-weight: 600;
    font-size: 14px;
}

footer {
    margin-top:10px;
}

.post {
    margin-bottom: 1.25rem;
    border-bottom: 2px solid #F2F2F2;
    color:#636363;
}

.post a {
    color:#464646 !important;
}

.post a:hover {
    color:#2ba6cb !important;
}

.title {
    font-size: 14px;
	margin-bottom: 15px;
    background-color: #2c3840;
    padding: 0.7rem 1rem;
    color: #2ba6cb;
    text-transform: uppercase;
}
.overlay {
   position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
}

.cap-overlay {
   position: relative;
}

@media screen and (min-width: 40em) {
.menu li {border-right:1px solid #3B4951 !important;}
}
.menu li {
    border-right: none ;
}

.main-footer {
	padding-top:15px;
	background: #2c3840;
}

.main-footer h5 {
	text-transform: uppercase;
	color:#fff !important;
}
.main-footer {
	color:#9fa7a1;
}
.bottom-footer {
	background: #24292e;
	color:#fff;
}
.menu-text.primary {
	color:#2ba6cb;
}